version: "3"

services:
  mongo:
    image: mongo:3.2
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: main
    ports:
    - "27017:27017"
    volumes:
      - ./volumes/mongo:/data/db
