<html>
  <head>
    <title>NightGuide password reset</title>
  </head>
  <body>
    <style>
      html, body {
        background: #1f1f1f;
        font-family: 'Helvetica Neue', Helvetica, Arial;
      }
      h1 {
        color: #fff;
        margin-top: 2em;
      }
      main {
        max-width: 860px;
        padding: 1em;
        margin: 0 auto;
      }
      button {
        background: none;
        border: none;
        background: #2BAADF;
        color: #fff;
        padding: 1em;
        margin: 1em 0;
        border-radius: 2px;
        font-size: 1rem;
      }
      form {
        padding: 0.1em 0;
      }
      .form-item {
        margin: 1em 0;
        color: #fff;
      }
      .form-item label {
        display: block;
        margin-bottom: 0.3em;
      }
      input[type="text"], input[type="password"] {
        background: rgba(255,255,255,0.2);
        border: none;
        padding: 0.5em 1em;
        border-radius: 2px;
        min-width: 300px;
        color: #fff;
        font-size: 1rem;
      }
    </style>
    <main>
      <p>
        <img alt="NightGuide logo" src="https://storage.googleapis.com/static.nightguide.app/logo-184x97.png" width="183" style="max-width:183px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
      </p>
      <p>
        <h1>Reset your password</h1>

        <form>
          <div class="form-item">
            <label for="password">New password</label>
            <input name="password" id="password" type="password">
          </div>
          <div class="form-item">
            <label for="password">Repeat password</label>
            <input id="password-repeat" type="password">
          </div>
        </form>

        <button id="reset-submit">Reset password</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
          (function($) {
            let loading = false;

            $('#reset-submit').click(function() {
              if (loading) return;

              loading = true;

              if ($('#password').value !== $('#password-repeat').value) {
                alert('The passwords do not match')
                return;
              }

              $.ajax({
                type: 'POST',
                url: '{{{resetUrl}}}',
                data: convertFormToJSON('form'),
                contentType: 'application/json',
              })
                .done(function() {
                  $('h1').text('Your password has been reset');
                  $('form, button').remove();
                })
                .fail(function(e) {
                  $('h1').text('Something went wrong, try again');
                  loading = false;
                });
            });

            function convertFormToJSON(form){
              var array = jQuery(form).serializeArray();
              var obj = {};

              jQuery.each(array, function() {
                obj[this.name] = this.value || '';
              });

              return JSON.stringify(obj);
            }
          })(jQuery)
        </script>
      </p>
    </main>
  </body>
</html>
