# Default values for api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
containers:
  getenv:
    repository: google/cloud-sdk
    tag: 236.0.0-alpine
    pullPolicy: IfNotPresent
  api:
    repository:
    tag: latest
    pullPolicy: IfNotPresent

secrets:
  serviceaccount:
    name:
  env:
    fileUri:
    kmsKeyRing:
    kmsKey:

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.allow-http: false
  paths: []
  hosts: []

resources:
   limits:
    cpu:
    memory:
   requests:
    cpu:
    memory:

nodeSelector: {}

tolerations: []

affinity: {}
